:PROPERTIES:
:ID: {{ uuid }}
:ROAM_REFS: {{ roam_ref }}
:END:
#+TITLE: {{ title }}

- author: {{ author }}
- added: <{{ saved_at }}>
- read status: {{ read_status }}
{%- if full_url %}
- link: {{ full_url }}
{%- endif %}
- readwise link: {{ readwise_url }}
{%- if published_date %}
- date: {{ published_date }}
{%- endif %}

- tags:

{{ highlight_content | trim_end }}
