:PROPERTIES:
:ID: {{ uuid }}
:ROAM_REFS: {{ roam_ref }}
:END:
#+TITLE: {{ title }}

- type: webpage
- added: <{{ today }}>
- read status: {{ read_status }}
{%- if full_url %}
- link: {{ full_url }}
{%- endif %}
- readwise link: {{ readwise_url }}
- from: readwise
- date:

- tags:

{{ highlight_content }}
